<section>
	<h1>{{capitalize pageTitle}}</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum quas facilis quae est commodi laboriosam quod eligendi, alias quibusdam corrupti! Recusandae modi ratione laboriosam? Quo magni, deserunt culpa nihil doloribus.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt velit eveniet iure nesciunt? Ex hic quisquam, sit repellat aliquid molestiae tempora earum delectus dolorem voluptatibus, aspernatur nam, nesciunt neque expedita!</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet vel ratione sapiente sequi explicabo praesentium! Dolor eligendi vero obcaecati quasi eos nihil minus ad quam iure ipsam, consequatur incidunt sapiente.</p>
</section>